.head-of-page{
    color: white;
}
.color{
    background-color:#424243;
}
.current-weather{
    border-width:10px;
    border-color:black;
}
.float-left{
    margin:5px;
}
.search-section{
    background-color: #E3E7ED;
    padding: 5px;
}
.search-box{
    padding:10px;

}